<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>TIL | Today I Learned</title>

        <!-- Bootstrap CSS -->
        <link href="/resources/css/bootstrap.min.css" rel="stylesheet">
        <!-- Other CSS -->
        <link href="/resources/css/main.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">

                    {{ if .User }}
                        <p class="pull-right">{{ .User }} | <a href="/logout">Log Out</a></p>
                    {{ else }}
                        <p class="pull-right"><a href="/login">Log In</a> | <a href="/register">Register</a></p>
                    {{ end }}

                    <div id="create">
                        <form id="add-item-form">
                            <div class="form-group">
                                <label for="title">Today I learned: </label>
                                <input type="text" class="form-control" id="title" name="title" placeholder="Something new">
                            </div>
                            <button type="submit" class="btn btn-default">Submit</button>
                        </form>
                    </div><!-- /#create -->

                    <hr>

                    <div id="view">
                        <p class="text-info">Click an item to edit</p>
                        <ul id="items" class="list-unstyled">
                            {{ range .Tils }}
                            <li><strong>{{ .Date }}</strong> <span id="item-{{ .ID }}" data-editable>{{ .Title }}</span> <a href="/delete" class="delete pull-right" id="delete-{{ .ID }}">Delete</a></li>
                            {{ end }}
                        </ul>
                    </div><!-- /#view -->

                </div><!-- /.col-md-6 -->
            </div><!-- /.row -->
        </div><!-- /.container -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/resources/js/bootstrap.min.js"></script>
    <script src="/resources/js/main.js"></script>
    </body>
</html>
